@page
@model SangaghakRazorEndPoint.Areas.Admin.Pages.CreatePackageModel
@{
}
@using App.Domain.Core.Sangaghak.App.Domain.Core
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject ICategoryAppService categoryappservice;

<div class="row">

    <div class="col-xl-9 col-lg-8">
        <form enctype="multipart/form-data" role="form" method="post" asp-page-handler="CreateCategory">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">اطلاعات عمومی</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="dropzone bg-light-subtle py-5">
                            <div class="form-group relative">
                                <input asp-for="@Model.Package.ImageFile" type="file" class="form-control">
                                <label>آپلود عکس</label>
                                <div class="input-group round">
                                    <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success">
                                            <i class="icon-picture"></i>
                                            آپلود عکس
                                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                        </button>
                                    </span>
                                </div><!-- /.input-group -->
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label for="Package-title" class="form-label">عنوان سرویس</label>
                                <input asp-for="@Model.Package.Title" type="text" id="Package-title" class="form-control" placeholder="عنوان را وارد کنید">
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <label for="crater" class="form-label">زیر شاخه</label>
                            <select asp-for="@Model.Package.SubCategoryId" class="form-select" id="crater">
                                <option value="">دسته بندی والد را انتخاب کنید</option>
                                @foreach (var SubCategory in await categoryappservice.GetAllSubCategories(default))
                                {
                                    <option value="@SubCategory.Id">@SubCategory.Title /(@SubCategory.ParentName) </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-6">

                            <div class="mb-3">
                                <label for="product-stock" class="form-label">حداقل قیمت</label>
                                <input asp-for="@Model.Package.MinPrice" type="number" id="product-stock" class="form-control" placeholder="حداقل قیمت">
                            </div>


                        </div>
                        <div class="col-lg-12">
                            <div class="mb-0">
                                <label for="description" class="form-label">توضیحات</label>
                                <textarea asp-for="@Model.Package.Description" class="form-control bg-light-subtle" id="description" rows="7" placeholder="توضیحات را تایپ کنید"></textarea>
                            </div>
                        </div>
                        <div class="p-3 bg-light mb-3 rounded">
                            <div class="row justify-content-end g-2">

                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-outline-secondary w-100">ذخیره تغییرات</button>
                                </div>
                                <div class="col-lg-2">
                                    <a asp-page="SeeAllCategories" class="btn btn-primary w-100">لغو</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>