@page
@model SangaghakRazorEndPoint.Areas.Admin.Pages.IndexModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section HeaderButtons {
    <!-- عنوان صفحه -->
    <div class="topbar-item">
        <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0">داشبورد</h4>
    </div>
    <div class="topbar-item">
        <a asp-page="index" class="btn btn-sm btn-soft-primary">
            خانه
        </a>
    </div>
    <div class="topbar-item">
        <a asp-page="SeeAllCategories" class="btn btn-sm btn-soft-primary">
            دسته بندی ها
        </a>
    </div>

    <div class="topbar-item">
        <a asp-page="SeeAllSubCategories" class="btn btn-sm btn-soft-primary">
            زیر دسته بندی ها
        </a>
    </div>
    <div class="topbar-item">
        <a asp-page="SeeAllComments" class="btn btn-sm btn-soft-primary">
            مدیریت کامنت ها
        </a>
    </div>
    <div class="topbar-item">
        <a asp-page="UserRegister" class="btn btn-sm btn-soft-primary">
            ثبتنام کاربر جدید
        </a>
    </div>
}

<div class="row">
    <div class="col-xxl-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <iconify-icon icon="solar:cart-5-bold-duotone"
                                                  class="avatar-title fs-32 text-primary"></iconify-icon>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">تعداد مشتری ها</p>
                                <h3 class="text-dark mt-1 mb-0">@Model.CustomerCount</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">تعداد کارشناسان</p>
                                <h3 class="text-dark mt-1 mb-0">@Model.ExpertCount</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <i class="bx bxs-backpack avatar-title fs-24 text-primary"></i>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">تعداد کل کاربران</p>
                                <h3 class="text-dark mt-1 mb-0">@Model.AllUsersCount</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <i class="bx bx-dollar-circle avatar-title text-primary fs-24"></i>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">درآمد کل</p>
                                <h3 class="text-dark mt-1 mb-0">$@Model.Balance</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#!" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">تعداد کل درخواست های ثبت شده</p>
                                <h3 class="text-dark mt-1 mb-0">@Model.AllRequestsCount</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a asp-page="SeeAllRequests" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-md bg-soft-primary rounded">
                                    <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-6 text-end">
                                <p class="text-muted mb-0 text-truncate">تعداد درخواست های جاری</p>
                                <h3 class="text-dark mt-1 mb-0">@Model.CurrentRequestsCount</h3>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card body -->
                    <div class="card-footer py-2 bg-light bg-opacity-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <a asp-page="SeeAllRequests" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                        </div>
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end col -->
    <div class="col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md bg-soft-primary rounded">
                            <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-6 text-end">
                        <p class="text-muted mb-0 text-truncate">کامنت های درانتظار تایید</p>
                        <h3 class="text-dark mt-1 mb-0">@Model.PendingCommentsCount</h3>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div> <!-- end card body -->
            <div class="card-footer py-2 bg-light bg-opacity-50">
                <div class="d-flex align-items-center justify-content-between">
                    <a asp-page="SeeAllComments" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title">
                            سفارشات اخیر
                        </h4>

                        <a href="#!" class="btn btn-sm btn-soft-primary">
                            <i class="bx bx-plus me-1"></i>ایجاد سفارش
                        </a>
                    </div>
                </div>
                <!-- end card body -->
                <!-- end card body -->
                <div class="table-responsive table-centered">
                    <table class="table mb-0">
                        <thead class="bg-light bg-opacity-50">
                            <tr>
                                <th class="ps-3">
                                    شناسه سفارش
                                </th>
                                <th>
                                    تاریخ
                                </th>
                                <th>
                                    سرویس
                                </th>
                                <th>
                                    نام مشتری
                                </th>
                                <th>
                                    ایمیل
                                </th>
                                <th>
                                    شماره تلفن
                                </th>
                                <th>
                                    شهر
                                </th>
                                <th>
                                    کارشناس
                                </th>
                                <th>
                                    وضعیت
                                </th>
                            </tr>
                        </thead>
                        <!-- end thead-->
                        <tbody>
                            <tr>
                                @foreach (var Request in Model.Requests)
                                {
                                    <td class="ps-3">
                                        <a href="apps-ecommerce-order-detail.html">@Request.Id</a>
                                    </td>
                                    <td>@Request.SetAt</td>
                                    <td>
                                        <a href="#!">@Request.CustomerFullName</a>
                                    </td>
                                    <td>@Request.CustomerEmail</td>
                                    <td>@Request.CustomerPhone</td>
                                    <td>@Request.CityTitle</td>
                                    <td>@Request.ExpertFullName</td>
                                    <td>
                                        <i class="bx bxs-circle text-success me-1"></i> @Request.Status
                                    </td>
                                }
                            </tr>
                        </tbody>
                        <!-- end tbody -->
                    </table>
                    <!-- end table -->
                </div>
                <!-- table responsive -->

                <div class="card-footer border-top">
                    <div class="row g-3">
                        <div class="col-sm">
                            <div class="text-muted">
                                نمایش
                                <span class="fw-semibold">5</span>
                                از
                                <span class="fw-semibold">90,521</span>
                                سفارش
                            </div>
                        </div>

                        <div class="col-sm-auto">
                            <ul class="pagination m-0">
                                <li class="page-item">
                                    <a href="#" class="page-link"><i class="bx bx-right-arrow-alt"></i></a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link"><i class="bx bx-left-arrow-alt"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>

</div>
