@page
@model SangaghakRazorEndPoint.Areas.Admin.Pages.IndexModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="fa" dir="rtl" data-menu-size="sm-hover">

<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>داشبورد | لارکن قالب مدیریتی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/AdminTemplate/images/favicon.ico">

    <link rel="stylesheet" href="~/AdminTemplate/css/app.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/icons.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/fontiran.min.css">
    <script src="~/AdminTemplate/js/config.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="topbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="d-flex align-items-center">
                        <!-- دکمه toggle منو -->
                        <div class="topbar-item">
                            <button type="button" class="button-toggle-menu me-2">
                                <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- عنوان صفحه -->
                        <div class="topbar-item">
                            <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0">داشبورد</h4>
                        </div>
                        <div class="topbar-item">
                            <a asp-page="SeeAllCategories"> دسته بندی ها</a>
                        </div>

                        <div class="topbar-item">
                            <a asp-page="SeeAllSubCategories"> زیر دسته بندی ها</a>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-1">

                        <!-- تم رنگ (روشن/تاریک) -->
                        <div class="topbar-item">
                            <button type="button" class="topbar-button" id="light-dark-mode">
                                <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- اعلان‌ها -->
                        <div class="dropdown topbar-item">
                            <button type="button" class="topbar-button position-relative"
                                    id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <iconify-icon icon="solar:bell-bing-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">
                                    3<span class="visually-hidden">پیام‌های خوانده نشده</span>
                                </span>
                            </button>
                            <div class="dropdown-menu py-0 dropdown-lg dropdown-menu-end"
                                 aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 fs-16 fw-semibold"> اعلان‌ها</h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                                <small>پاک کردن همه</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 280px;">
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom text-wrap">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/images/users/avatar-1.jpg"
                                                     class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-1" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">
                                                    <span class="fw-medium">جوزفین تامپسون </span>در مورد پنل مدیر نظر داده
                                                    <span>" وای 😍! این پنل مدیر عالی و طراحی جذاب است"</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="avatar-sm me-2">
                                                    <span class="avatar-title bg-soft-info text-info fs-20 rounded-circle">
                                                        D
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">دونوگویی سوزان</p>
                                                <p class="mb-0 text-wrap">
                                                    سلام، حال شما چطور است؟ جلسه بعدی ما چی؟
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/images/users/avatar-3.jpg"
                                                     class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-3" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">جیکوب گینس</p>
                                                <p class="mb-0 text-wrap">پاسخ داد به کامنت شما در گراف پیش‌بینی جریان نقدی 🔔.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="avatar-sm me-2">
                                                    <span class="avatar-title bg-soft-warning text-warning fs-20 rounded-circle">
                                                        <iconify-icon icon="iconamoon:comment-dots-duotone"></iconify-icon>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold text-wrap">شما <b>20</b> پیام جدید در مکالمه دریافت کرده‌اید</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/images/users/avatar-5.jpg"
                                                     class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-5" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">شان بنچ</p>
                                                <p class="mb-0 text-wrap">
                                                    نظر داده در پنل مدیر
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="text-center py-3">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm">
                                        مشاهده تمامی اعلان‌ها <i class="bx bx-left-arrow-alt ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- تنظیمات تم -->
                        <div class="topbar-item d-none d-md-flex">
                            <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas"
                                    data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                                <iconify-icon icon="solar:settings-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- فعالیت -->
                        <div class="topbar-item d-none d-md-flex">
                            <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas"
                                    data-bs-target="#theme-activity-offcanvas" aria-controls="theme-settings-offcanvas">
                                <iconify-icon icon="solar:clock-circle-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- کاربر -->
                        <div class="dropdown topbar-item">
                            <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle" width="32" src="/images/users/avatar-1.jpg"
                                         alt="avatar-3">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- آیتم-->
                                <h6 class="dropdown-header">به گاستون خوش آمدید!</h6>
                                <a class="dropdown-item" asp-page="SeeUserPorfile">
                                    <i class="bx bx-user-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">پروفایل</span>
                                </a>
                                <a class="dropdown-item" href="chat.html">
                                    <i class="bx bx-message-dots text-muted fs-18 align-middle me-1"></i><span class="align-middle">پیام‌ها</span>
                                </a>

                                <a class="dropdown-item" href="pricing.html">
                                    <i class="bx bx-wallet text-muted fs-18 align-middle me-1"></i><span class="align-middle">قیمت‌گذاری</span>
                                </a>
                                <a class="dropdown-item" href="faqs.html">
                                    <i class="bx bx-help-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">راهنما</span>
                                </a>
                                <a class="dropdown-item" href="lock-screen.html">
                                    <i class="bx bx-lock text-muted fs-18 align-middle me-1"></i><span class="align-middle">قفل صفحه</span>
                                </a>

                                <div class="dropdown-divider my-1"></div>

                                <a class="dropdown-item text-danger" href="login.html">
                                    <i class="bx bx-log-out fs-18 align-middle me-1"></i><span class="align-middle">خروج</span>
                                </a>
                            </div>
                        </div>

                        <!-- جستجوی اپ -->
                        <form class="app-search d-none d-md-block ms-2">
                            <div class="position-relative">
                                <input type="search" class="form-control" placeholder="جستجو..." autocomplete="off" value="">
                                <iconify-icon icon="solar:magnifer-linear" class="search-widget-icon"></iconify-icon>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </header>
</div>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-5">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <iconify-icon icon="solar:cart-5-bold-duotone"
                                                              class="avatar-title fs-32 text-primary"></iconify-icon>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">تعداد مشتری ها</p>
                                            <h3 class="text-dark mt-1 mb-0">@Model.CustomerCount</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">تعداد کارشناسان</p>
                                            <h3 class="text-dark mt-1 mb-0">@Model.ExpertCount</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <i class="bx bxs-backpack avatar-title fs-24 text-primary"></i>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">تعداد کل کاربران</p>
                                            <h3 class="text-dark mt-1 mb-0">@Model.AllUsersCount</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-page="SeeAllUsers" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <i class="bx bx-dollar-circle avatar-title text-primary fs-24"></i>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">درآمد کل</p>
                                            <h3 class="text-dark mt-1 mb-0">$@Model.Balance</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="#!" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">تعداد کل درخواست های ثبت شده</p>
                                            <h3 class="text-dark mt-1 mb-0">@Model.AllRequestsCount</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-page="SeeAllRequests" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                        <div class="col-md-6">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-soft-primary rounded">
                                                <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-6 text-end">
                                            <p class="text-muted mb-0 text-truncate">تعداد درخواست های جاری</p>
                                            <h3 class="text-dark mt-1 mb-0">@Model.CurrentRequestsCount</h3>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </div> <!-- end card body -->
                                <div class="card-footer py-2 bg-light bg-opacity-50">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-page="SeeAllRequests" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                                    </div>
                                </div> <!-- end card body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- end col -->
                <div class="col-md-6">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="avatar-md bg-soft-primary rounded">
                                        <i class="bx bx-award avatar-title fs-24 text-primary"></i>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-6 text-end">
                                    <p class="text-muted mb-0 text-truncate">کامنت های درانتظار تایید</p>
                                    <h3 class="text-dark mt-1 mb-0">@Model.PendingCommentsCount</h3>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card body -->
                        <div class="card-footer py-2 bg-light bg-opacity-50">
                            <div class="d-flex align-items-center justify-content-between">
                                <a asp-page="SeeAllComments" class="text-reset fw-semibold fs-12">مشاهده بیشتر</a>
                            </div>
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="card-title">
                                        سفارشات اخیر
                                    </h4>

                                    <a href="#!" class="btn btn-sm btn-soft-primary">
                                        <i class="bx bx-plus me-1"></i>ایجاد سفارش
                                    </a>
                                </div>
                            </div>
                            <!-- end card body -->
                            <!-- end card body -->
                            <div class="table-responsive table-centered">
                                <table class="table mb-0">
                                    <thead class="bg-light bg-opacity-50">
                                        <tr>
                                            <th class="ps-3">
                                                شناسه سفارش
                                            </th>
                                            <th>
                                                تاریخ
                                            </th>
                                            <th>
                                                دسته بندی
                                            </th>
                                            <th>
                                                نام مشتری
                                            </th>
                                            <th>
                                                ایمیل
                                            </th>
                                            <th>
                                                شماره تلفن
                                            </th>
                                            <th>
                                                شهر
                                            </th>
                                            <th>
                                                کارشناس
                                            </th>
                                            <th>
                                                وضعیت
                                            </th>
                                        </tr>
                                    </thead>
                                    <!-- end thead-->
                                    <tbody>
                                        <tr>
                                            @foreach (var Request in Model.Requests)
                                            {
                                                <td class="ps-3">
                                                    <a href="apps-ecommerce-order-detail.html">@Request.Id</a>
                                                </td>
                                                <td>@Request.SetAt</td>
                                                <td>
                                                    <img src="/images/products/product-1(1).png" alt="product-1(1)"
                                                         class="img-fluid avatar-sm">
                                                </td>
                                                <td>
                                                    <a href="#!">@Request.CustomerFullName</a>
                                                </td>
                                                <td>@Request.CustomerEmail</td>
                                                <td>@Request.CustomerPhone</td>
                                                <td>@Request.CityTitle</td>
                                                <td>@Request.ExpertFullName</td>
                                                <td>
                                                    <i class="bx bxs-circle text-success me-1"></i> @Request.Status
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                    <!-- end tbody -->
                                </table>
                                <!-- end table -->
                            </div>
                            <!-- table responsive -->

                            <div class="card-footer border-top">
                                <div class="row g-3">
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            نمایش
                                            <span class="fw-semibold">5</span>
                                            از
                                            <span class="fw-semibold">90,521</span>
                                            سفارش
                                        </div>
                                    </div>

                                    <div class="col-sm-auto">
                                        <ul class="pagination m-0">
                                            <li class="page-item">
                                                <a href="#" class="page-link"><i class="bx bx-right-arrow-alt"></i></a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link"><i class="bx bx-left-arrow-alt"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>

            </div>

            <!-- ========== Footer Start ========== -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> &copy; لارکن. ساخته شده توسط
                            <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon>
                            <a href="" class="fw-bold footer-text" target="_blank">تکزا</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ========== Footer End ========== -->

        </div>
    </div>



    <script src="~/AdminTemplate/js/app.js"></script>
    <script src="~/AdminTemplate/js/layout.js"></script>
    <script src="~/AdminTemplate/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/AdminTemplate/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/AdminTemplate/libs/jsvectormap/maps/world.js"></script>
    <script src='~/AdminTemplate/js/pages/dashboard.js'></script>
</body>

</html>
