@page
@model SangaghakRazorEndPoint.Areas.Admin.Pages.SeeAdminProfileModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="bg-primary profile-bg rounded-top position-relative mx-n3 mt-n3">

                    <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                        @if (@Model.UserInfo.ProfileImgFile != null)
                        {
                            <img src="@Model.UserInfo.ProfileImgFile" alt="" class="avatar-md">
                        }
                        else
                        {
                            <img src="/images/Categories/e8886c2a-a725-4058-9cbc-319b66588bf5dummy-avatar.jpg" alt="" class="avatar-md">
                        }

                    </div>
                </div>
                <div class="mt-5 d-flex flex-wrap align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-1">@Model.UserInfo.FullName <i class='bx bxs-badge-check text-success align-middle'></i></h4>
                        <p class="mb-0">@Model.UserInfo.Role</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اطلاعات شخصی</h4>
            </div>
            <div class="card-body">
                <div>
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                            <iconify-icon icon="solar:backpack-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                        </div>
                        <p class="mb-0 fs-14">@Model.UserInfo.Role</p>
                    </div>
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                            <iconify-icon icon="solar:letter-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                        </div>
                        <p class="mb-0 fs-14">ایمیل: <a href="#!" class="text-primary fw-semibold">@Model.UserInfo.Email</a></p>
                    </div>
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                            <iconify-icon icon="solar:link-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                        </div>
                        <p class="mb-0 fs-14">شماره تماس: <a href="#!" class="text-primary fw-semibold">@Model.UserInfo.Mobile</a></p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                            <iconify-icon icon="solar:check-circle-bold-duotone" class="fs-20 text-secondary"></iconify-icon>
                        </div>
                        <p class="mb-0 fs-14">وضعیت: <span class="badge bg-success-subtle text-success ms-1">فعال</span></p>
                    </div>
                    <div class="mt-2">
                        <a asp-page="UpdateUser" asp-route-UserId="@Model.UserInfo.Id" class="text-primary">ویرایش اطلاعات</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>