@page
@model SangaghakRazorEndPoint.Areas.Admin.SeeAllCategoriesModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center gap-1">
                <h4 class="card-title flex-grow-1">لیست تمامی دسته‌بندی‌ها</h4>

                <a asp-page="CreateCategory" class="btn btn-sm btn-primary">
                    افزودن دسته بندی
                </a>
            </div>

            <div>
                <div class="table-responsive">
                    <table class="table align-middle mb-0 table-hover table-centered">
                        <thead class="bg-light-subtle">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1"></label>
                                    </div>
                                </th>
                                <th>دسته‌بندی‌ها</th>
                                <th>شناسه</th>
                                <th>توضیحات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.Parents)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                                @if (category.ImagePath != null)
                                                {
                                                    <img src="@category.ImagePath" alt="" class="avatar-md">
                                                }
                                                else
                                                {
                                                    <img src="/images/Categories/83863285-b09c-471c-9527-c89e11eb7007img-3.jpg" alt="" class="avatar-md">
                                                }

                                            </div>
                                            <p class="text-dark fw-medium fs-15 mb-0">@category.Title</p>
                                        </div>
                                    </td>
                                    <td>@category.Id</td>
                                    <td>@category.Description</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#!" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                            <a asp-page="EditCategory" asp-route-CategoryId="@category.Id" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                            <a asp-page-handler="Delete" asp-route-categoryId="@category.Id" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
            <div class="card-footer border-top">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">قبلی</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">بعدی</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>