@page
@model SangaghakRazorEndPoint.Areas.Admin.Pages.SeeAllCommentsModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section HeaderButtons {
    <!-- عنوان صفحه -->
    <div class="topbar-item">
        <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0">مدیریت کامت ها</h4>
    </div>
    <div class="topbar-item">
        <a asp-page="index" class="btn btn-sm btn-soft-primary">
            خانه
        </a>
    </div>
}


<div class="row">
    @foreach (var comment in Model.Comments)
    {
        <div class="col-xl-3 col-md-6">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <p class="mb-2 text-dark fw-semibold fs-15">@comment.CustomerName</p>
                    <p class="mb-2 text-dark fw-semibold fs-15">@comment.SetAt</p>
                    <p class="mb-0">@comment.Description</p>
                    <div class="d-flex align-items-center gap-2 mt-2 mb-1">
                        <ul class="d-flex text-warning m-0 fs-20 list-unstyled">
                            @for (int i = 0; i <= comment.Rate; i++)
                            {
                                <li>
                                    <i class="bx bxs-star"></i>
                                </li>
                            }
                        </ul>
                        @if (comment.Rate == 1)
                        {
                            <p class="fw-medium mb-0 text-dark fs-15">بسیار بد</p>
                        }
                        @if (comment.Rate == 2)
                        {
                            <p class="fw-medium mb-0 text-dark fs-15">ضعیف</p>
                        }
                        @if (comment.Rate == 3)
                        {
                            <p class="fw-medium mb-0 text-dark fs-15">متوسط</p>
                        }
                        @if (comment.Rate == 4)
                        {
                            <p class="fw-medium mb-0 text-dark fs-15">خوب</p>
                        }
                        @if (comment.Rate == 5)
                        {
                            <p class="fw-medium mb-0 text-dark fs-15">بسیار عالی</p>
                        }

                    </div>
                </div>
                <div class="card-footer bg-primary position-relative mt-3">
                    <div class="position-absolute top-0 start-0 translate-middle-y ms-3">
                        <img src="/images/users/avatar-2.jpg" alt="" class="avatar-lg border border-light border-3 rounded-circle">
                    </div>
                    <div class="position-absolute top-0 end-0 translate-middle-y me-3">
                        <img src="/images/double.png" alt="" class="avatar-md">
                    </div>
                    <div class="mt-4">
                        <h4 class="text-white mb-1">@comment.ExpertName</h4>
                        <p class="text-white mb-0">@comment.PackageTiltle / @comment.CityName</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
