@page
@model SangaghakRazorEndPoint.Areas.Admin.UserRegisterModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html dir="rtl" lang="fa" class="h-100">

<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>ثبت نام | لارکن قالب مدیریتی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/AdminTemplate/images/favicon.ico">

    <link rel="stylesheet" href="~/AdminTemplate/css/app.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/icons.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/fontiran.min.css">
    <script src="~/AdminTemplate/js/config.js"></script>

</head>

<body class="h-100">
    <div class="d-flex flex-column h-100 p-3">
        <div class="d-flex flex-column flex-grow-1">
            <div class="row h-100">
                <div class="col-xxl-7">
                    <div class="row justify-content-center h-100">
                        <div class="col-lg-6 py-lg-5">
                            <div class="d-flex flex-column h-100 justify-content-center">
                                <div class="auth-logo mb-4">
                                    <a href="index.html" class="logo-dark"> <img src="/images/logo-dark.png" height="24" alt="لوگوی تاریک"> </a>

                                    <a href="index.html" class="logo-light">
                                        <img src="/images/logo-light.png" height="24" alt="لوگوی روشن">
                                    </a>
                                </div>

                                <h2 class="fw-bold fs-24">ثبت نام</h2>

                                <p class="text-muted mt-1 mb-4">جدید به پلتفرم ما هستید؟ همین حالا ثبت نام کنید! این فقط یک دقیقه طول می‌کشد.</p>

                                <div >
                                    <form class="authentication-form" method="post">
                                        <div class="mb-3">
                                            <label class="form-label" for="example-name">نام کاربری</label>
                                            <input asp-for="@Model.UserForRegiter.UserName" type="text" id="example-name" name="example-name"
                                                   class="form-control" placeholder="نام کاربری خود را وارد کنید">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="example-email">ایمیل</label>
                                            <input asp-for="@Model.UserForRegiter.Email" type="email" id="example-email" name="example-email"
                                                   class="form-control bg-" placeholder="ایمیل خود را وارد کنید">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="example-email">تلفن همراه</label>
                                            <input asp-for="@Model.UserForRegiter.Phone" type="number" id="example-email" name="example-email"
                                                   class="form-control bg-" placeholder="شماره موبایل خود را وارد کنید">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="example-password">گذرواژه</label>
                                            <input asp-for="@Model.UserForRegiter.Password" type="password" id="example-password" class="form-control"
                                                   placeholder="گذرواژه خود را وارد کنید">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select asp-for="@Model.UserForRegiter.Role" class="form-select">
                                                    <option value="1">Admin</option>
                                                    <option value="2">Customer</option>
                                                    <option value="3">Expert</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group relative">
                                            <input asp-for="@Model.UserForRegiter.ProfileImgFile" type="file" class="form-control">
                                            <label>آپلود عکس</label>
                                            <div class="input-group round">
                                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-success">
                                                        <i class="icon-picture"></i>
                                                        آپلود عکس
                                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="mb-1 text-center d-grid">
                                            <button class="btn btn-soft-primary" type="submit">ثبت نام</button>
                                        </div>
                                    </form>

                                <p class="mt-auto text-danger text-center pt-3">
                                        من قبلاً یک حساب دارم <a asp-page="LoginUser" class="text-dark fw-bold ms-1">ورود</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-5 d-none d-xxl-flex">
                    <div class="card h-100 mb-0 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <img src="/images/small/img-10.jpg" alt="" class="w-100 h-100">
                        </div>
                    </div> <!-- پایان کارت -->
                </div>
            </div>
        </div>
    </div>
    <script src="~/AdminTemplate/js/app.js"></script>
    <script src="~/AdminTemplate/js/layout.js"></script>
</body>

</html>