@page
@model SangaghakRazorEndPoint.Areas.Customer.Pages.PostRequestWithPackageIdModel
@{
    Layout = "~/Areas/Customer/Pages/Shared/_Layout2.cshtml";  // مشخص کردن قالب 1
    ViewData["Title"] = " ثبت درخواست با ایدی پکیج";
}


<div class="post-job-area pt-100 pb-70">
    <div class="container">
        <div class="post-job-form">
            <h2>اطلاعات شغلی</h2>
            <div class="bar"></div>
            <div class="contact-form">
                <h3>اطلاعات پایه</h3>
                <form enctype="multipart/form-data" role="form" method="post" id="contactForm">
                    <input asp-for="@Model.NewRequest.CityId" type="hidden" value="@Model.LogedInUser.CityId">
                    <input asp-for="@Model.NewRequest.CustomerId" type="hidden" value="@Model.CustomerId">
                    <input asp-for="@Model.NewRequest.ServicePackageId" type="hidden" value="@Model.WantedPackage.Id">
                    <input asp-for="@Model.NewRequest.WantedPrice" type="hidden" value="@Model.WantedPackage.MinPrice">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>پکیج انتخاب شده</label>
                                <input value="@Model.WantedPackage.Tiltle" name="msg_subject" class="form-control" readonly data-error="" placeholder="عنوان پکیج">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>مهلت درخواست</label>
                                <input asp-for="@Model.NewRequest.MaxTime" name="msg_subject" class="form-control" required data-error="لطفا تاریخ را وارد کنید" placeholder="1400/02/29" data-jdp>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>شرح کار*</label>
                                <textarea asp-for="@Model.NewRequest.Description" class="form-control" cols="30" rows="5" required data-error="شرح کار خود را بنویسید"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>آدرس*</label>
                                <input asp-for="@Model.NewRequest.Address" type="text" class="form-control" required data-error="لطفا آدرس شرح کار خود را وارد کنید">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="choose-img">
                                <p class="title">عکس 1 (اختیاری)</p>
                                <label for="img">تصویر را انتخاب کنید:</label>
                                <input asp-for="@Model.NewRequest.ImageFile1" type="file" id="img" name="img" accept="image/*">
                                <p>حداکثر حجم فایل: 2 مگابایت</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="choose-img">
                                <p class="title">عکس 2 (اختیاری)</p>
                                <label for="img">تصویر را انتخاب کنید:</label>
                                <input asp-for="@Model.NewRequest.ImageFile2" type="file" id="img" name="img" accept="image/*">
                                <p>حداکثر حجم فایل: 2 مگابایت</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-outline-secondary w-100">ثبت درخواست</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>