@page
@model SangaghakRazorEndPoint.Areas.Public.Pages.SeeCategoryDetailsModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Header
{
    <div class="desktop-nav desktop-nav-one nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active">
                                خانه
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-page="Index" class="nav-link">
                                        خانه
                                    </a>
                                </li>
                            </ul>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-area="Customer" asp-page="CustomerProfile" class="nav-link">
                                        پروفایل کاربری
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                    <div class="others-options d-flex align-items-center">
                        <div class="optional-item">
                            <a asp-page="Login" class="default-btn two border-radius-5">ورود / ثبت نام <i class="ri-user-3-line"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item">
                            <a asp-page="Login" class="default-btn two">
                                ورود / ثبت نام <i class="ri-user-3-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>جزئیات مشاغل</h3>
            <ul>
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>جزئیات مشاغل</li>
            </ul>
        </div>
    </div>
</div>


<div class="job-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="find-jobs-card d-flex align-items-center box-shadow">
                    <div class="find-jobs-img">
                        <a href="job-details.html">
                            @if (Model.Category.ImagePath != null)
                            {
                                <img src="@Model.Category.ImagePath" alt="Images">
                            }
                            else
                            {
                                <img src="~/MainTemplate/images/find-jobs/find-jobs3.jpg" alt="Images">
                            }
                        </a>
                    </div>
                    <div class="content">
                        <h3>@Model.Category.Title</h3>
                        <ul class="content-list2">
                            <li class="list-one">دسته بندی اصلی</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job-details-widget-side pr-20">
                    <div class="job-details-widget">
                        <h3 class="title">بررسی اجمالی شغل</h3>
                        <ul class="job-details-category">
                            <li>نام دسته بندی: <span>@Model.Category.Title</span></li>
                            <li>تعداد زیر دسته بندی: <span>@Model.SubCategoryCount</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="job-details-content">
                    <div class="content mb-30">
                        <h3>شرح شغل</h3>
                        <p>@Model.Category.Description</p>
                    </div>
                    <h3>زیر دسته بندی ها</h3>
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <div class="col-lg-12">

                            <div class="recent-job-card box-shadow">
                                <div class="content">
                                    <h3><a asp-page="SeeSubCategoryDetails" asp-route-SubCategoryId="@subCategory.Id">@subCategory.Title</a></h3>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<!--برای نمایش بذار خط 135-->
@* @if (subCategory.ImagePath != null)
{
    <div class="col-lg-12">

        <div class="recent-job-card box-shadow">
            <div class="content">
                <div class="recent-job-img">
                    <img src="@subCategory.ImagePath" alt="Images">
                </div>
                <h3><a href="job-details.html">@subCategory.Title</a></h3>
            </div>
        </div>

    </div>
}
else
{
    <div class="col-lg-12">

        <div class="recent-job-card box-shadow">
            <div class="content">
                <div class="recent-job-img">
                    <img src="~/MainTemplate/images/recent-job/recent-job5.jpg" alt="Images">
                </div>
                <h3><a href="job-details.html">@subCategory.Title</a></h3>
            </div>
        </div>

    </div>
} *@
<!--تا اینجا-->


