@page
@model SangaghakRazorEndPoint.Areas.Public.Pages.SeeSubCategoryDetailsModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- بخش Header بدون تغییر باقی می‌ماند -->
@section Header
{
    <!-- کد Header شما -->
}

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>جزئیات زیر دسته بندی</h3>
            <ul>
                <li>
                    <a asp-page="Index">خانه</a>
                </li>
                <li>
                    @Html.Raw(Model.ParentCategoryHtml)
                </li>
                <li>جزئیات شرکت</li>
            </ul>
        </div>
    </div>
</div>

<div class="company-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="company-details-content">
                    <div class="company-details-preview mb-30">
                        @Html.Raw(Model.SubCategoryImageHtml)
                    </div>
                    <div class="company-details-card box-shadow">
                        <h3>@Model.SubCategory.Title</h3>
                    </div>
                    <div class="content mb-30">
                        <h3>@Model.SubCategory.Description</h3>
                    </div>
                    <div class="content">
                        <h3>جالب است بدانید</h3>
                        <div class="bar"></div>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-6 col-md-4">
                                <div class="counter-item">
                                    <h3><span class="odometer" data-count="1400">0000</span></h3>
                                    <p>تعداد کارشناسان فعال در این حوزه در سراسر کشور</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6 col-md-4">
                                <div class="counter-item">
                                    <h3><span class="odometer" data-count="113">000</span></h3>
                                    <p>تعداد درخواست‌های جاری در این حوزه در سراسر کشور</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6 col-md-4">
                                <div class="counter-item">
                                    <h3>M<span class="odometer" data-count="5">0</span></h3>
                                    <p>تعداد درخواست‌های تکمیل شده در این حوزه در سراسر کشور</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>پکیج‌های ارائه شده توسط شرکت سنجاقک در این حوزه</h3>
                    @if (Model.ServicePackages?.Any() == true)
                    {
                        @foreach (var package in Model.ServicePackages)
                        {
                            <div class="col-lg-12">
                                <div class="recent-job-card box-shadow">
                                    <div class="content">
                                        <h3><a href="job-details.html">@package.Title</a></h3>
                                        <ul class="job-list1">
                                            <li>@package.SubCategoryTitle</li>
                                        </ul>
                                        <span>@package.Description</span>
                                    </div>
                                    <div class="job-sub-content">
                                        <ul class="job-list2">
                                            <li class="time">
                                                <a asp-area="Customer" asp-page="PostRequestWithPackageId" asp-route-PackageId="@package.Id">ثبت درخواست</a>
                                            </li>
                                        </ul>
                                        <div class="price">@package.MinPrice <b>:شروع قیمت</b></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h4>در حال حاضر پکیجی برای این حوزه در نظر گرفته نشده</h4>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job-details-widget-side pl-20">
                    <div class="job-details-widget">
                        <h3 class="title">درباره این زیر دسته بندی</h3>
                        <ul class="job-details-category">
                            <li>دسته‌بندی اصلی: <span>@Model.ParentCategoryInfo.Title</span></li>
                            <li>عنوان: <span>@Model.SubCategory.Title</span></li>
                            <li>تعداد کارشناسان فعال در این حوزه: <span>75</span></li>
                            <li>تعداد پکیج‌های ارائه شده در این حوزه: <span>@(Model.ServicePackages?.Count ?? 0)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>